{% extends "shop/base.html" %}
{% load static %}

{% block additional %}
    <!-- Load map styles -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A==" crossorigin="" />
{% endblock %}

{% block content%}
{% include 'shop/contact_content_page.html' %}
{% endblock %}

{% block contact%}
{% include 'shop/contact_contact.html' %}
{% endblock %}

{% block map %}
{% include 'shop/contact_map.html' %}
{% endblock %}